# Compiler files
cache/
out/
lib/
.github/
node_modules/
broadcast/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.enc

notes.md
/test/Tests.md
remappings.json
